# Compiled binaries
audio_core.dll
audio_core.so

# Runtime DLLs bundled by build.py
libs/

# Python cache
__pycache__/
*.pyc
*.pyo

# App data / local cache
player/mixins/app_data/

# Build output
build/
dist/
*.spec

# Covers
covers_cache/

# app_data
app_data/   
